{% extends "administration/admin.html.twig" %}

{% block title %}Gestion des utilisateurs{% endblock %}
{% block header %}Changer mon mot de passe{% endblock %}

{% block body %}
	{{ form_start(form) }}
	{{ form_row(form.plainPassword) }}
	<button type="submit" class="btn btn-outline-primary">Valider le nouveau mot de passe</button>
	{{ form_end(form) }}
{% endblock %}