{% extends 'administration/admin.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}
{% block header %}Modifier un profil{% endblock %}

{% block body %}
    {{ include('administration/user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('user_index') }}" class="btn btn-outline-dark">Retour à la liste</a>

    {{ include('administration/user/_delete_form.html.twig') }}
{% endblock %}
