{% extends 'administration/admin.html.twig' %}

{% block title %}Gestion des entraînements{% endblock %}
{% block header %}Ajout d'un entrainement{% endblock %}

{% block body %}
    {{ include('administration/training/_form.html.twig') }}

    <a href="{{ path('training_index') }}">back to list</a>
{% endblock %}
