{% extends 'administration/admin.html.twig' %}

{% block title %}Gestion des convocations{% endblock %}
{% block header %}Nouvelle convocation pour le {{ saturday }}{% endblock %}

{% block body %}
	{% form_theme form
		'administration/collection/jquery.collection.html.twig'
	%}
    {{ include('administration/meeting/_form.html.twig') }}
	<br>
	<a href="{{ path('meeting_index') }}" class="btn btn-outline-primary">Retour à la liste</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('admin/js/jquery.collection.js') }}"></script>
    <script>
        $('.game_collection_entry').collection({
            up: '<a href="#" class="btn btn-default"><span class="fa fa-arrow-up"></span></a>',
            down: '<a href="#" class="btn btn-default"><span class="fa fa-arrow-down"></span></a>',
            add: '<a href="#" class="btn btn-default"><span class="fa fa-plus"></span></a>',
            remove: '<a href="#" class="btn btn-default"><span class="fa fa-trash"></span></a>'
		});
    </script>
{% endblock %}