<form method="post" action="{{ path('gallery_delete', {'id': gallery.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette galerie ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gallery.id) }}">
    <button class="btn btn-outline-danger">Supprimer la galerie</button>
</form>
