{% extends 'administration/admin.html.twig' %}

{% block title %}Gestion des albums photo{% endblock %}
{% block header %}Modification de l'album du {{ gallery.dateCreation|date('d/m/Y') }}{% endblock %}

{% block body %}
    {{ include('administration/gallery/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('gallery_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    <script>
        jQuery(document).ready(function () {
            jQuery('.add_image_collection').click(function (e) {
                var list = jQuery(jQuery(this).attr('data-list'));
                // Try to find the counter of the list
                var counter = list.data('widget-counter') | list.children().length;
                // If the counter does not exist, use the length of the list
                if (!counter) { counter = list.children().length; }

                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data(' widget-counter', counter);

                // create a new list element and add it to the list
                var newElem = jQuery(list.attr('data-widget-image')).html(newWidget);
                newElem.appendTo(list);
            });
            jQuery('.remove_image_item').click(function (e) {
                var id = jQuery(jQuery(this).attr('data-id'));
                console.log(id);
            });
        });
    </script>
{% endblock %}