{% extends 'administration/admin.html.twig' %}

{% block title %}Gestion des albums photo{% endblock %}
{% block header %}Gérer les albums photo{% endblock %}

{% block body %}
    <table class="table table-bordered table-responsive-sm">
        <thead>
            <tr>
                <th>NOM</th>
                <th>Date de création</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gallery in galleries %}
            <tr>
                <td>{{ gallery.name }}</td>
                <td>{{ gallery.dateCreation ? gallery.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('gallery_show', {'id': gallery.id}) }}" class="btn btn-outline-info"><i class="fa fa-eye"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('gallery_new') }}" class="btn btn-outline-primary">Ajouter une galerie</a>
{% endblock %}
