{% extends 'administration/admin.html.twig' %}

{% block title %}Gestion des albums photo{% endblock %}
{% block header %}Ajouter un album photo{% endblock %}

{% block body %}
	{% form_theme form
		'administration/collection/jquery.collection.html.twig'
	%}
    {{ include('administration/gallery/_form.html.twig') }}
	<br>
    <a href="{{ path('gallery_index') }}" class="btn btn-outline-dark">Retour à la liste</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('admin/js/jquery.collection.js') }}"></script>
    <script>
        $('.image_collection_entry').collection({
            up: '<a href="#" class="btn btn-default"><span class="fa fa-arrow-up"></span></a>',
            down: '<a href="#" class="btn btn-default"><span class="fa fa-arrow-down"></span></a>',
            add: '<a href="#" class="btn btn-default"><span class="fa fa-plus"></span></a>',
            remove: '<a href="#" class="btn btn-default"><span class="fa fa-trash"></span></a>'
        });
    </script>
{% endblock %}