{% extends "base.html.twig" %}

{% block body %}
	<div class="page__header">
		<h1>Galerie</h1>
	</div>
	<section class="galerie__container flex_row">
		<div class="galerie__album debug">
			<div class="album__cover"></div>
			<div class="album__overlay"></div>
		</div>
		<div class="galerie__album debug">
			<div class="album__cover"></div>
			<div class="album__overlay"></div>
		</div>
		<div class="galerie__album debug">
			<div class="album__cover"></div>
			<div class="album__overlay"></div>
		</div>
		<div class="galerie__album debug">
			<div class="album__cover"></div>
			<div class="album__overlay"></div>
		</div>
	</section>
	galeries
	{{ dump(galleries) }}
	{% for g in galleries %}
		<a href="{{ path('gallery', {'slug': g.slug}) }}">Galerie {{ g.name }}</a>
	{% endfor %}
{% endblock %}