{% extends "base.html.twig" %}

{% block body %}
	galeries
	{{ dump(galleries) }}
	{% for g in galleries %}
		<a href="{{ path('gallery', {'slug': g.slug}) }}">Galerie {{ g.name }}</a>
	{% endfor %}
{% endblock %}