{% extends "base.html.twig" %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('build/home_css.css') }}">
{% endblock %}
{% block body %}
	{% if slides is defined and slides|length != 0 %}
		{% include "default/home/_slider.html.twig" %}
	{% endif %}
	{% if result is defined and not null %}
		<div class="page__header">
			<h2>Resultats des matchs du {{ meeting.meetingDate }}</h2>
		</div>
		<section class="container">
			<div class="last__results flex_row">
				{% include "default/home/_result_table.html.twig" %}
			</div>
		</section>
	{% endif %}
	<div class="page__header">
		<h2>Prochains matchs</h2>
	</div>
	<section class="flex_row container home__next__matchs">
		{% set games = meeting.games %}
		{% include "default/home/_next_matchs.html.twig" %}
	</section>
	<section class="flex_row full_width home__info">
		<div class="home__next__match">
			<h2>Prochains matchs</h2>
			<div class="next__match__teams">
				<p>Forges-les-Eaux VS Gournay</p>
			</div>
			<div class="next__match__timer flex_row">
				<div class="timer__box flex_column">
					<span class="timer__numeric">20</span>
					<span class="timer__text">jours</span>
				</div>
				<div class="timer__box flex_column">
					<span class="timer__numeric">06</span>
					<span class="timer__text">heures</span>
				</div>
				<div class="timer__box flex_column">
					<span class="timer__numeric">30</span>
					<span class="timer__text">minutes</span>
				</div>
				<div class="timer__box flex_column">
					<span class="timer__numeric">30</span>
					<span class="timer__text">secondes</span>
				</div>
			</div>
		</div>
	</section>
	<section class="flex_row full_width home__info">
		<div class="last__result flex_column">
			<h2>Résultats derniers matchs</h2>
			<div class="last__result__teams flex_row">
				<div class="last__result_team_first">
					<img src="images/rams-128x128.png" alt="Rams">
				</div>
				<div class="last__result__info flex_column">
					<span class="last__result__info__date">September 28, 2018</span>
					<span class="last__result__info__score">0 - 2</span>
				</div>
				<div class="last__result_team_second">
					<img src="images/tigers-115x128.png" alt="Tigers">
				</div>
			</div>
			<div class="last__result__label">Rams VS Tigers</div>
		</div>
	</section>

	Prochains matchs
	Sponsors
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('build/home_js.js') }}"></script>
{% endblock %}