@import "structure";
header {
  position: fixed;
  right: 0;
  top: 0;
  height: 100px;
  width: 100px;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*border-bottom: 1px solid #12BEDB;
  border-left: 1px solid #12BEDB;*/
  transition: all .3s ease;

  &.responsive {
    width: 100%;
    background-color: #ffffff;
    transition: all .3s ease;

    .header__logo {
      display: block;
    }
  }

  &.active {
    width: 100%;
    background-color: #ffffff;
    transition: all .3s ease;
  }
  &.active .header__logo {
    display: block;
  }

  &.scrolled {
    transition: all .3s ease;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px #12BEDB;
  }

  div.header__logo {
    text-align: center;
    width: 108px;
    height: 80px;
    margin: auto auto auto 10px;
    display: none;
    img {
      height: 100%;
    }
  }
  div.header__menu_button {
    text-align: center;
    width: 80px;
    height: 80px;
    margin: auto 10px auto;
    display: flex;

    button {
      display: inline-block;
      text-decoration: none;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: none;
      &:focus {
        border: none;
      }

      i.fa {
        font-size: 2.5em;
        color: #13BEDB;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  header {
    background-color: #fff;
  }
}

@import "elements/navigation_overlay";
section.main {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 100px;
  padding-bottom: 30px;
  background-color: #fefefe;
}
@media screen and (max-width: 420px) {
  section.main {
    margin-top: 100px;
  }
}

div.page__header {
  width: 100%;
  margin: 80px auto 25px auto;
  height: 100px;
  h1 {
    width: 60%;
    line-height: 80px;
    color: #12BEDB;
    font-size: 2.5rem !important;
    border-bottom: 5px solid #12BEDB;
    text-align: center;
    text-transform: uppercase;
    font-family: "New Athletic M54";
    margin: auto;
  }
  h2 {
    width: 60%;
    line-height: 80px;
    color: #12BEDB;
    font-size: 1.8rem !important;
    border-bottom: 5px solid #12BEDB;
    text-align: center;
    text-transform: uppercase;
    font-family: "New Athletic M54";
    margin: auto;
  }
}
@media screen and (min-width: 800px) and (max-width: 1024px) {
  div.page__header {
    width: 100% !important;
    height: 80px;
    h1 {
      line-height: 80px;
      font-size: 1.5em !important;
      color: #000000;
      text-align: center;
    }
    h2 {
      line-height: 80px;
      font-size: 1em !important;
      color: #000000;
      border-bottom: 5px solid #12BEDB;
      text-align: center;
    }
  }
}
@media screen and (min-width: 421px) and (max-width: 799px) {
  div.page__header {
    width: 100% !important;
    height: 80px;
    h1 {
      width: 100% !important;
      line-height: 80px;
      font-size: 1.5em !important;
      color: #000000;
      border-bottom: 5px solid #12BEDB;
      text-align: center;
    }
    h2 {
      width: 100% !important;
      line-height: 80px;
      font-size: 1em !important;
      color: #000000;
      border-bottom: 5px solid #12BEDB;
      text-align: center;
    }
  }
}
@media screen and (max-width: 420px) {
  div.page__header {
    width: 100% !important;
    height: 80px;
    h1 {
      width: 100% !important;
      line-height: 80px;
      font-size: 1.5em !important;
      color: #000000;
      border-bottom: 5px solid #12BEDB;
      text-align: center;
    }
    h2 {
      width: 100% !important;
      line-height: 80px;
      font-size: 1em !important;
      font-weight: 400;
      color: #000000;
      border-bottom: 5px solid #12BEDB;
      text-align: center;
    }
  }
}

.pagination__container {
  position: relative;
  width: 90%;
  margin: 25px auto;
  text-align: center;
  display: flex;

  nav {
    margin: auto;
  }
}
footer {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #12BEDB;

  .copyrights {
    width: 80%;
    height: inherit;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;

    a {
      text-decoration: none;
      display: inline-block;
      line-height: 50px;
    }
    p {
      line-height: 50px;
      margin: 0 auto;
      padding: 0;
    }
  }
}