form {
	width: 80%;
	margin: 0 auto;
	height: auto;

	fieldset {
		width: 80%;
		margin: auto;
	}
}

.register__container {
	width: 80%;
	margin: 0 auto;
	display: flex;

	a {
		display: inline-block;
		margin: auto;
	}
}