.last__results {
	position: relative;
	width: 100%;
	height: auto;
	margin: 20px auto;
}

table tbody tr td {
	width: 25%;
	text-align: center;
}

@media screen and (max-width: 420px) {
	table tbody tr td {
		width: 25% !important;
		font-size: 1em;
		padding: .75rem .5rem !important;
	}
	th.ts-pager {
		height: auto;

		div.form-inline {
			line-height: 80px;
			display: flex;
			justify-content: space-around;
			padding: 10px auto !important;
		}
	}
}

table thead tr th, table tfoot tr th {
	text-align: center !important;
}

th.ts-pager {
	height: 80px;

	div.form-inline {
		line-height: 80px;
		display: flex;
		justify-content: space-around;
	}
}