{% for g in games %}
	<div class="next__match__item">
		<div class="next__match__teams">
			<h3>{{ g.team.name }} VS {{ g.opponent }}</h3>
		</div>
		<div class="next__match__timer flex_row">
			<div class="timer__box flex_column">
				<span class="timer__numeric">20</span>
				<span class="timer__text">jours</span>
			</div>
			<div class="timer__box flex_column">
				<span class="timer__numeric">06</span>
				<span class="timer__text">heures</span>
			</div>
			<div class="timer__box flex_column">
				<span class="timer__numeric">30</span>
				<span class="timer__text">minutes</span>
			</div>
			<div class="timer__box flex_column">
				<span class="timer__numeric">30</span>
				<span class="timer__text">secondes</span>
			</div>
		</div>
		<div class="next__match__appoint">
			<p>Lieu de RDV : Gymnase de Forges-les-Eaux</p>
		</div>
	</div>
{% endfor %}