<table class="table table-striped table-responsive-sm">
	<thead>
	<tr>
		<th scope="col">Équipe de Forges</th>
		<th scope="col">Adversaire</th>
		<th scope="col">Victoire</th>
		<th scope="col">Score</th>
	</tr>
	</thead>
	<tbody>
	{% for g in last_meeting.games %}
		<tr>
			<td scope="row">{{ g.team.name }}</td>
			<td>{{ g.opponent }}</td>
			<td>{{ g.winner }}</td>
			<td>{{ g.winnerScore }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>