{% extends 'administration/admin.html.twig' %}

{% block title %}Gestion des équipes{% endblock %}
{% block header %}Ajouter une équipe{% endblock %}

{% block body %}
    {{ include('administration/team/_form.html.twig') }}

    <a href="{{ path('team_index') }}">back to list</a>
{% endblock %}
