{% extends 'administration/admin.html.twig' %}

{% block title %}Gestion des messages{% endblock %}
{% block header %}Nouveau message{% endblock %}

{% block body %}
    {{ include('administration/message/_form.html.twig') }}

    <a href="{{ path('message_index') }}" class="btn btn-outline-dark">Retour à la liste</a>
{% endblock %}
