{% extends 'administration/admin.html.twig' %}

{% block title %}New Image{% endblock %}

{% block body %}
    <h1>Create new Image</h1>

    {{ include('administration/image/_form.html.twig') }}

    <a href="{{ path('image_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            console.log('jquery loaded');
            var file_input = $("#image_filename");
            var file_size = $("#image_size");
            var file_extension = $("#image_mimeType");
            file_input.change(function (e) {
                file_size.val(file_input[0].files[0].size);
                file_extension.val(file_input[0].files[0].type);
            })
        });
    </script>
{% endblock %}