.results__container {
	flex-wrap: wrap;
	justify-content: space-around;
}
.results__column {
	width: 400px;
	height: auto;
	margin-bottom: 50px;
}
.result__type {
	width: 100%;
	text-align: center;
	border: 1px solid white;
	background-color: #E5E5E5;
	border-bottom: 5px solid #13BFDB;
	color: #000000;
}
@import "elements/last_result";

.last__result {
	width: 400px;
	height: auto !important;
}
.last__result__label {
	border-bottom: 1px solid #f4f4f4 !important;
}