{% extends "base.html.twig" %}

{% block body %}
	<h1>Demande de réinitialisation du mot de passe</h1>

	{{ form_start(form) }}
	{{ form_row(form.email) }}
	<button type="submit">Envoyer le lien de réinitialisation</button>
	{{ form_end(form) }}
{% endblock %}