{% extends "base.html.twig" %}

{% block body %}
	<h1>Change password</h1>

	{{ form_start(form) }}
	{{ form_row(form.plainPassword) }}
	<button type="submit">Valider le nouveau mot de passe</button>
	{{ form_end(form) }}
{% endblock %}