{% extends "base.html.twig" %}

{% block body %}
	<h1>Réinitialisation du mot de passe</h1>

	{{ form_start(form) }}
	{{ form_row(form.plainPassword) }}
	<button type="submit">Valider la réinitialisation</button>
	{{ form_end(form) }}
{% endblock %}