<ul id="images-fields-list" data-prototype="{{ form_widget(form.images.vars.prototype)|e }}" data-widget-tags="{{ '<li></li>'|e }}">
	{% for image_field in form.images %}
		<li>
			{{ form_errors(image_field) }}
			{{ form_widget(image_field) }}
		</li>
	{% endfor %}
</ul>